input[type="text"],
input[type="email"],
input[type="password"],
.form-control {
    font-size: 16px;
    line-height: 1.5;
    border-style: solid;
    border-width: 1px;
    outline-style: none !important;
    width: 100%;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: transparent;
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.25);
}

.form-field {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.form-control:focus {
    border-color: #7B3DFF;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button[type="submit"], .btn-primary {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-width: 0;
    border-radius: 6px;
    transition: color 0.3s linear;
    padding: 10px 30px;
    background-color: #5F23DD;
    color: #ffffff;
    margin-top: 15px;
    font-weight: 500;
    border-color: #7B3DFF;
}

button[type="submit"]:hover, .btn-primary:hover,
button[type="submit"]:focus, .btn-primary:focus,
button[type="submit"]:active, .btn-primary:active,
.btn-primary:active:focus {
    background-color: #7B3DFF;
    box-shadow: 0 0 0 0.25rem rgb(123 61 255 / 25%);
    border-width: 0;
    border-color: #7B3DFF;
}

.form-check-input:checked {
    background-color: #7B3DFF;
    border-color: #7B3DFF;
}

.form-check-input:focus {
    border-color: #7B3DFF;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(123 61 255 / 25%);
}

.form-check-input {
    background-color: rgba(255, 255, 255, 0.5);
}

.list-container {
    display: flex;
}

.alert {
    padding: 5px 10px;
}

.alert-with-text {
    font-size: 12px;
    margin: 4px 0 4px 0;
    padding: 0 0;
    border: none;
    background-color: transparent;
}

.alert-with-background {
    margin: 4px 0 4px 0;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 6px;
}

.alert-danger {
    color: #FF1741;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

label,
.form-label {
    color: #FFFFFF !important;
    font-size: 14px;
    margin-bottom: 5px;
}